! ------------------------------------------------------------------------------
! Dracula Color Scheme
! ------------------------------------------------------------------------------

! special
*.foreground:   #f8f8f2
*.background:   #222d32
*.cursorColor:  #bd93f9

! black
*.color0:       #44475a
*.color8:       #4d4d4d

! red
*.color1:       #ff5555
*.color9:       #ff6e67

! green
*.color2:       #50Fa7b
*.color10:      #5af78e

! yellow
*.color3:       #f1fa8c
*.color11:      #f4f99d

! blue
*.color4:       #bd93f9
*.color12:      #caa9fa

! magenta
*.color5:       #ff79c6
*.color13:      #ff92d0

! cyan
*.color6:       #8be9fd
*.color14:      #9aedfe

! white
*.color7:       #bfbfbf
*.color15:      #e6e6e6


! ------------------------------------------------------------------------------
! Fonts
! ------------------------------------------------------------------------------

URxvt.font:				-lucy-tewi-medium-r-normal-*-11-90-100-100-c-60-iso10646-1, \
						-wuncon-siji-medium-r-normal-*-10-100-75-75-c-80-iso10646-1
URxvt.boldFont:			-lucy-tewi-bold-r-normal-*-11-80-100-100-c-60-iso10646-1, \
						-wuncon-siji-medium-r-normal-*-10-100-75-75-c-80-iso10646-1
URxvt.italicFont:		-lucy-tewi-medium-r-normal-*-11-90-100-100-c-60-iso10646-1, \
						-wuncon-siji-medium-r-normal-*-10-100-75-75-c-80-iso10646-1
URxvt.boldItalicFont:	-lucy-tewi-bold-r-normal-*-11-80-100-100-c-60-iso10646-1, \
						-wuncon-siji-medium-r-normal-*-10-100-75-75-c-80-iso10646-1

! ------------------------------------------------------------------------------
! URxvt configs
! ------------------------------------------------------------------------------

! font spacing
URxvt*letterSpace:		0
URxvt.lineSpace:		1

! general settings
URxvt*saveline:			15000
URxvt*termName:			rxvt-256color
URxvt*iso14755:			false
URxvt*urgentOnBell:		true

! appearance
!URxvt*depth:			32
!URxvt*background:		[95]#222d32
URxvt*depth:			32
URxvt.highlightColor:	#ff79c6
URxvt*scrollBar:		false
URxvt*scrollBar_right:	false
URxvt*internalBorder:	24
URxvt*externalBorder:	0
URxvt.geometry:			84x22

! perl extensions
URxvt.perl-ext-common:	default,clipboard,url-select,keyboard-select

! macros for clipboard and selection
URxvt.copyCommand:		xclip -i -selection clipboard
URxvt.pasteCommand:		xclip -o -selection clipboard
URxvt.keysym.M-c:		perl:clipboard:copy
URxvt.keysym.M-v:		perl:clipboard:paste
URxvt.keysym.M-C-v:		perl:clipboard:paste_escaped
URxvt.keysym.M-Escape:	perl:keyboard-select:activate
URxvt.keysym.M-s:		perl:keyboard-select:search
URxvt.keysym.M-u:		perl:url-select:select_next
URxvt.urlLauncher:		firefox
URxvt.underlineURLs:	true
URxvt.urlButton:		1     

! scroll one line
URxvt.keysym.Shift-Up:		command:\033]720;1\007
URxvt.keysym.Shift-Down:	command:\033]721;1\007

! control arrow
URxvt.keysym.Control-Up:	\033[1;5A
URxvt.keysym.Control-Down:	\033[1;5B
URxvt.keysym.Control-Right:	\033[1;5C
URxvt.keysym.Control-Left:	\033[1;5D

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------

rofi.color-enabled: true
rofi.color-window: #222d32, #222d32, #222d32
rofi.color-normal: #222d32, #f8f8f2, #222d32, #222d32, #bd93f9
rofi.color-active: #222d32, #ff79c6, #222d32, #222d32, #8be9fd
rofi.color-urgent: #222d32, #f1fa8c, #222d32, #222d32, #f1fa8c       

! ------------------------------------------------------------------------------
! Xft Font Configuration
! ------------------------------------------------------------------------------

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
                                                           
