<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  

 <vendor>Thunar</vendor>
 <vendor_url>http://xfce.org/</vendor_url>
 <icon_name>system-file-manager</icon_name>


 <action id="org.xfce.thunar">
 
 <description>Run Thunar as root</description>
 <description xml:lang="ar">شغل ثونار كجذر</description>
 <description xml:lang="ast">Executar Thunar como root</description>
 <description xml:lang="bg">Стартирай Thunar като администратор</description>
 <description xml:lang="ca">Executa Thunar com a root</description>
 <description xml:lang="cs">Spustit Thunar jako root</description>
 <description xml:lang="da">Kør Thunar som root</description>
 <description xml:lang="de">Thunar als Systemverwalter starten</description>
 <description xml:lang="el">Εκτέλεση Thunar ως διαχειριστής</description>
 <description xml:lang="en_AU">Run Thunar as root</description>
 <description xml:lang="en_GB">Run Thunar as root</description>
 <description xml:lang="es">Iniciar Thunar como superusuario</description>
 <description xml:lang="eu">Exekutatu Thunar root gisa</description>
 <description xml:lang="fi">Käynnistä Thunar pääkäyttäjän oikeuksin.</description>
 <description xml:lang="fr">Lancer Thunar en tant que root</description>
 <description xml:lang="gl">Executar Thunar como administrador</description>
 <description xml:lang="he">הפעל את Thunar כמשתמש על</description>
 <description xml:lang="hr">Pokreni Thunar kao root korisnik</description>
 <description xml:lang="hu">Thunar futtatása rendszergazdaként</description>
 <description xml:lang="id">Jalankan Thunar sebagai root</description>
 <description xml:lang="is">Keyra Thunar sem kerfisstjóri (root)</description>
 <description xml:lang="it">Esegui Thunar come amministratore</description>
 <description xml:lang="ja">root で Thunar を起動</description>
 <description xml:lang="kk">Thunar-ды әкімші ретінде орындау</description>
 <description xml:lang="ko">Root 권한으로 Thunar 작동</description>
 <description xml:lang="lt">Vykdyti Thunar administratoriaus teisėmis</description>
 <description xml:lang="ms">Jalankan Thunar sebagai root</description>
 <description xml:lang="nb">Kjør Thunar som root</description>
 <description xml:lang="nl">Thunar draaien met rootbevoegdheid</description>
 <description xml:lang="nn">Køyr Thunar som administrator</description>
 <description xml:lang="oc">Aviar Thunar en tant que root</description>
 <description xml:lang="pl">Uruchom Thunar jako root</description>
 <description xml:lang="pt">Executar Thunar como root</description>
 <description xml:lang="pt_BR">Rodar Thunar como superusuário</description>
 <description xml:lang="ro">Pornește Thunar ca root</description>
 <description xml:lang="ru">Запустить Thunar от суперпользователя</description>
 <description xml:lang="sk">Spustiť Thunar ako správca</description>
 <description xml:lang="sr">Покрени Тунара са кореним овлашћењима</description>
 <description xml:lang="sv">Kör Thunar som root</description>
 <description xml:lang="th">เรียกทำงาน Thunar ในฐานะ root</description>
 <description xml:lang="tr">Thunar'ı root olarak çalıştır</description>
 <description xml:lang="uk">Запустити Thunar з правами суперкористувача</description>
 <description xml:lang="zh_CN">以 root 身份运行 Thunar</description>
 <description xml:lang="zh_TW">以 root 身份執行 Thunar</description>
 <message>Authentication is required to run Thunar as root.</message>
 <message xml:lang="ar">التحقق مطلوب لتشغيل ثونار كجذر</message>
 <message xml:lang="ast">Ríquese l'autenticación pa executar Thunar como root.</message>
 <message xml:lang="bg">Изисква се удостоверяване за да стартирате Thunar като администратор</message>
 <message xml:lang="ca">Cal autenticació per executar Thunar com a root.</message>
 <message xml:lang="cs">Pro spuštění aplikace Thunar jako root se vyžaduje autentizace.</message>
 <message xml:lang="da">Der kræves godkendelse for at køre Thunar som root.</message>
 <message xml:lang="de">Legitimierung wird benötigt, um Thunar als Systemverwalter zu starten.</message>
 <message xml:lang="el">Απαιτείται πιστοποίηση για εκτέλεση του Thunar ως διαχειριστής.</message>
 <message xml:lang="en_AU">Authentication is required to run Thunar as root.</message>
 <message xml:lang="en_GB">Authentication is required to run Thunar as root.</message>
 <message xml:lang="es">Es necesario autentificarse para iniciar Thunar como superusuario.</message>
 <message xml:lang="eu">Autentifikazio beharrezkoa da Thunar root gisa exekutatzeko</message>
 <message xml:lang="fi">Jotta Thunar voidaan käynnistää pääkäyttäjän oikeuksin, todennus tarvitaan.</message>
 <message xml:lang="fr">Une authentification est requise pour lancer Thunar en tant que root.</message>
 <message xml:lang="gl">Requírese autenticación para executar Thunar como administrador</message>
 <message xml:lang="he">נדרש אימות כדי להפעיל את Thunar כמשתמש על.</message>
 <message xml:lang="hr">Potrebna je provjera za pokretanje Thunara kao root.</message>
 <message xml:lang="hu">A Thunar rendszergazdai futtatásához hitelesítés szükséges.</message>
 <message xml:lang="id">Otentikasi diperlukan untuk menjalankan Thunar sebagai root.</message>
 <message xml:lang="is">Auðkenningar er krafist til að keyra Thunar sem kerfisstjóri (root)</message>
 <message xml:lang="it">Per eseguire Thunar come amministratore è richiesta l'autenticazione</message>
 <message xml:lang="ja">root で Thunar を起動するには認証が必要です。</message>
 <message xml:lang="kk">Thunar-ды әкімші ретінде орындау үшін аутентификация керек.</message>
 <message xml:lang="ko">Root 권한으로 Thunar를 작동하려면 인증이 필요합니다.</message>
 <message xml:lang="lt">Thunar vykdymui administratoriaus teisėmis, reikalingas tapatybės nustatymas.</message>
 <message xml:lang="ms">Pengesahihan diperlukan untuk jalankan Thunar sebagai root.</message>
 <message xml:lang="nb">Identitetsbekreftelse kreves for å kjøre Thunar som root.</message>
 <message xml:lang="nl">Authenticatie is vereist om Thunar met rootbevoegdheid te draaien.</message>
 <message xml:lang="nn">Autentisering krevst for å køyra Thunar som administrator</message>
 <message xml:lang="oc">Una autentificacion es requesida per aviar Thunar en tant que root.</message>
 <message xml:lang="pl">Wymagane jest uwierzytelnienie, aby uruchomić program Thunar w trybie administratora.</message>
 <message xml:lang="pt">Autenticação necessária para executar Thunar como root.</message>
 <message xml:lang="pt_BR">Autenticação é requerida para rodar Thunar como superusuário.</message>
 <message xml:lang="ro">Pentru a porni Thunar ca root este nevoie de autentificare.</message>
 <message xml:lang="ru">Требуется аутентификация для запуска Thunar от суперпользователя</message>
 <message xml:lang="sk">Na spustenie Thunaru ako správca je potrebné overenie totožnosti.</message>
 <message xml:lang="sr">Потребна је потврда овлашћења ради покретања Тунара под кореним овлашћењима</message>
 <message xml:lang="sv">Autentisering krävs för att köra Thunar som root.</message>
 <message xml:lang="th">ต้องยืนยันตัวบุคคลก่อนเรียกทำงาน Thunar ในฐานะ root</message>
 <message xml:lang="tr">Thunar'ı root olarak çalıştırmak için kimlik doğrulaması gereklidir</message>
 <message xml:lang="uk">Вимагається розпізнавання для запуску Thunar з правами суперкористувача.</message>
 <message xml:lang="zh_CN">以 root 身份运行 Thunar 需要进行身份验证。</message>
 <message xml:lang="zh_TW">要以 root 身份執行 Thunar 需要認證。</message>
 <defaults>
 <allow_any>yes</allow_any>
 <allow_inactive>yes</allow_inactive>
 <allow_active>yes</allow_active>
 </defaults>
 <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/thunar</annotate>
 <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
 </action>

</policyconfig>
